alembic
blinker
certifi
click
cloudinary
Flask
Flask-Admin
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
flask-swagger
greenlet
Gunicorn
importlib-metadata
importlib-resources
Jinja2
Mako
MarkupSafe
psycopg2-binary
PyJWT
python-dotenv
PyYAML
six
SQLAlchemy
urllib3
Werkzeug
WTForms
zipp
